body{
	margin: 0;
	padding: 0;
	min-width: 1200px;
	text-transform: uppercase;




	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	background-color: #00000;
	background-position: top; center;
	background-repeat: no-repeat;

}
a{
	text-decoration: none;
	list-style: none;
}
.main-header{
	background-color: #eeeeee;
}

.main-navigation{
	color: #ffffff;

	background-color: #eeeeee;

}
.user-basket img{
	padding-right: 15px;
}
.user-basket,
.site-navigation{
	list-style: none;
}
.site-navigation a,
.user-basket a{
	color: #000000
}
.site-navigation a:hover,
.site-navigationa a:focus,
.user-basket a:hover,
.user-basket a:focus{
	background-color: #fb565a;
}

}
/*виды услуг на главной*/
.faetures{
	list-style: none;
}
.features-list {
		padding-top: 80px;
		padding-left: 140px;
		padding-right: 200px;
		padding-bottom: 80px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	
}
.features-item{
	list-style: none;
	width: 300px;

}
.button-features-web{
	display: block;
	width: 160px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;

}
.button-features-web:hover,
.button-features-web:focus {
background-color: #e74246;
}
.button-features-web:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; 
}

.button-features-pre{
	display: block;
	width: 160px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #00ca74;
	border-radius: 3px;
	border: none;

}
.button-features-pre:hover,
.button-features-pre:focus {
background-color: #00bc6c;
}
.button-features-pre:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; 
}

.button-features-prez{
	display: block;
	width: 160px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #efc84a;
	border-radius: 3px;
	border: none;

}
.button-features-prez:hover,
.button-features-prez:focus {
background-color: #eab534;
}
.button-features-prez:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;

}


/*-----*/
/*информация на главной */
.information{
	list-style: none;
	padding-top: 80px;
	padding-left: 140px;
	width: 1160px;
	display: flex;
	justify-content: space-between;
	margin: 100px;
}
.main-information{
	display: flex;
	flex-direction: column;
	width: 660px;
	margin: 0;
	padding:0;

}
.main-info{
	width: 400px;
	display: flex;
	flex-direction: column;
	list-style: none;
}
.main-information b{
	margin: 0;	
}
.information-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.information-list ul{
}
/*--------*/
/*подвал */
.main-footer{
	margin: 0;
	padding: 70px; 0;
	display: flex;
}
.footer-social{ 
width: 260px;
margin-right: 140px;
text-align: center;
;
 }

.footer-social ul{
	list-style: none;
	display: flex;
	
	justify-content: space-between;
	width: 257px;
}
.social-button{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 79px;
	height: 79px;

	background-color: #e1e1e1
}
.footer-social img{
	background-color: #eeeeee;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}
.social-button:active{
	background-color: #d7373b
}
.social-button:active path{
	fill: #e1e1e1;

}
.social-button {
	border: 1px solid #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 39px;

}
/*--------------*/
.form{
	color: #ffffff;

	background-color: #000000;
	background-position:0 0;
	background-repeat: no-repeat;
}
.modal b{
	font-size: 45px;
	line-height: 1;
}
.appointment-form{
	width: 960px;
	height: 590px;
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #e1e1e1;
}
 .appointment-name input:focus {
 border-color: #e1e1e1;
 width: 360px;
 height: 50px;
}
.appointment-mail input:focus {
	border-color: #e1e1e1;
	width: 360px;
	height: 50px;
}
.appointment-text input:focus{
	border-color: #e1e1e1;
	width: 760px;
	height: 118px;
}
.footer-social{
	text-align: left;
}
.footer-social ul{
	list-style: none;
}
.social-button{

}
.footer-social b{
	font-size: 35px;
	
}
p{
	font-size: 16px;
	color: #444444;}
.catalog1-item{
	background-color: #f8f8f8;
	box-shadow: 0 0 10px
	rgba(0,1,1, 0.25)
	padding 100px
}
/*каталог*/ 
.filter fieldset{
	border:none;
}
.filter legend{
	font-size: 16px;
	line-height: 1.25;
}
.filter ul{
	font-size: 20px;
	list-style: none;
}
.catalog-list{
	list-style: none;
}

.catalog-item{
	background-color: #f8f8f8;
	box-shadow: 0 0 10px
	rgba(0,1,1, 0.25)
	padding 100px

}
.catalog-item h3{
	width: 17.5;
	line-height: 1.8;
}
.catalog-item-price button{
width:  200px;
height: 50px;
text-align:center;
background-color: #fb565a
}
.button-information{
	width: 240px;
	height: 50px;
	text-align: center;
	background-color: #fb565a
}
/* Сетка для главной страницы */
.main-header-logo{
	padding-left: 140px;
	padding-top: 49px;
}
.site-navigation{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 440px;
}

.site-navigation a{
	display: block;
	padding: 45px ;
	margin-top: 43px;
	vertical-align: middle;

}


.user-basket{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 83px;
	padding-left: 50px;
	position: relative;
}
.user-basket .basket{
	padding-left: 50px;
	position: relative;

}


.main-navigation{
	display: flex;
	justify-content: space-around;

}
/*приемущества*/
.containers{
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
}
/* слайдер*/
.slider{
	position: relative;

	background-color: #eeeeee;
}
.slider-controls i{
	 position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
	
}
.slider-controls i::after{
	content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1; 

	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
}
.slider-controls{
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}
.slider-controls .active::before{
	content: "";
	  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider-item{
	display: none;
}

.slider-item:nth-child(1) {
  display: block;
  padding: 78px 0  80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px
}
.slider-item h3{
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.slider-item p{
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}
/*стиль кнопки*/
.button{
	display: block;
	width: 240px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}
.button:hover,
.butoon:focus {
background-color: #e74246;
}
.button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; 
}
/*------------*/

}
.information{
	display: flex;
	justify-content: space-around;
}
.main-information{
	display: flex;
	justify-content: space-around;
}

.footer-social{
display: flex; 
justify-content: space-between;
}