body{
	margin: 0 ;
	padding: 0 ;
	min-width: 1200px;
	text-transform: uppercase;




	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	background-color: #00000;
	background-position: top; center;
	background-repeat: no-repeat;

}
a{
	text-decoration: none;
	list-style: none;
}


.main-navigation{
	color: #ffffff;

	background-color: #eeeeee;

}
.user-basket img{
	padding-right: 15px;
}
.user-basket,
.site-navigation{
	list-style: none;
}
.site-navigation a,
.user-basket a{
	color: #000000
}
.site-navigation a:hover,
.site-navigationa a:focus,
.user-basket a:hover,
.user-basket a:focus{
	color: #fb565a;
}

/*виды услуг на главной*/
.index-main{
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.faetures{
	list-style: none;
	padding-top: 80px;

}
.features-list {
		padding-top: 80px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	
}
.features-item{
	list-style: none;
	width: 300px;

}
.button-features-web{
	display: block;
	width: 160px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;

}
.button-features-web:hover,
.button-features-web:focus {
background-color: #e74246;
}
.button-features-web:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; 
}

.button-features-pre{
	display: block;
	width: 160px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #00ca74;
	border-radius: 3px;
	border: none;

}
.button-features-pre:hover,
.button-features-pre:focus {
background-color: #00bc6c;
}
.button-features-pre:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; 
}

.button-features-prez{
	display: block;
	width: 160px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #efc84a;
	border-radius: 3px;
	border: none;

}
.button-features-prez:hover,
.button-features-prez:focus {
background-color: #eab534;
}
.button-features-prez:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;

}


/*-----*/
/*информация на главной */
.information{
	list-style: none;
	
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 80px;
}
.main-information{
	display: flex;
	flex-direction: column;
	width: 660px;
	margin: 0;
	padding: 0;

}
.main-info{
	width: 400px;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 140px;

}
.main-information b{
	margin: 0;	
}
.information-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.information-list li{
	display: flex;
	flex-direction: column;
}
.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
	.information{
	display: flex;
	justify-content: space-around;
}
.main-information{
	display: flex;
	justify-content: space-around;
}
.information-item{
	display: flex;
	flex-direction: column;
}

/*--------*/
/*подвал */
.main-footer{
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 80px;
	padding-bottom: 70px;
	
	display: flex;
}
.footer-social{ 
width: 260px;
margin-right: 140px;
text-align: center;

 }

.footer-social ul{
	list-style: none;
	display: flex;
	
	justify-content: space-between;
	width: 257px;
}
.social-button{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 79px;
	height: 79px;

	background-color: #e1e1e1
}
.footer-social img{
	background-color: #eeeeee;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}
.social-button:active{
	background-color: #d7373b
}
.social-button:active path{
	fill: #e1e1e1;

}
.social-button {
	border: 1px solid #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 39px;

}
.friends{
	padding-left: 140px;
}
/*--------------*/
.form{
	color: #ffffff;

	background-color: #000000;
	background-position:0 0;
	background-repeat: no-repeat;
}
.modal{
	width: 960px;
	height: 590px;
}
.modal b{
	font-size: 45px;
}
.appointment-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 960px;
	height: 590px;
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #e1e1e1;
}
 .appointment-name input:focus {
 border-color: #e1e1e1;
 box-sizing: border-box;
 width: 360px;
 height: 50px;
 padding-top: 12px;

}
.appointment-item label{
 display: block;
 width: 360px;

}


.appointment-mail input:focus {
	border-color: #e1e1e1;
	width: 360px;
	height: 50px;
}
.appointment-text input:focus{
	border-color: #e1e1e1;
	width: 760px;
	height: 118px;
}
.footer-social{
	text-align: left;
}
.footer-social ul{
	list-style: none;
}
.social-button{

}
.footer-social b{
	font-size: 35px;
	
}
p{
	font-size: 16px;
	color: #444444;}
.catalog1-item{
	background-color: #f8f8f8;
	box-shadow: 0 0 10px
	rgba(0,1,1, 0.25)
	padding 100px
}
/*каталог*/ 
.filter-item{
	margin: 0;
	padding: 0;
	border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
.filter fieldset{
	border:none;
}
.filter legend{
	font-size: 16px;
	line-height: 1.25;
}
.filter ul{
	font-size: 20px;
	list-style: none;
}
.catalog-list{
	list-style: none;
}

.catalog-item{
	background-color: #f8f8f8;
	box-shadow: 0 0 10px
	rgba(0,1,1, 0.25)
	padding 100px;

}
.catalog-item h3{
	width: 17.5;
	
}
.catalog-item-price button{
width:  200px;
height: 50px;
text-align:center;
background-color: #fb565a
}
.button-information{
	width: 240px;
	height: 50px;
	text-align: center;
	background-color: #fb565a
}
/* сетка главной страницы */
.catalog-columns{
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}
.filters{
	width: 300px;
}
.catalog{
	width: 800px;
}
.catalog-item{
	width: 360px;
	margin-bottom: 30px;
	margin-right: 40px;
}
.catalog-list{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}
.pagination-list{
	padding: 0;
	margin: 0;
	list-style:none;
	margin-bottom: 60px;
	
}

/*---------------------*/
/* Сетка для главной страницы */
.main-header{
padding-top: 50px;
	background-color: #eeeeee;

}
.glav{
	text-align: center;
	margin: 0 auto;
	padding: 0 20px;

}
.main-navigation{
	width: 1200px;
	margin: 0 auto;
	padding:0 20px;
}
.main-header-logo{
	float: left;
}
.site-navigation{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 440px;
	padding-left: 200px;
}

.site-navigation a{
	display: block;
	padding: 45px ;
	
	vertical-align: middle;

}
.user-basket{
    padding-left: 240px;
	padding-top: 43px;
}

.user-basket{

	list-style: none;
	position: relative;
}
.user-basket .basket{

	position: relative;
}


.main-navigation{
	display: flex;
	justify-content: space-around;

}
/*приемущества*/
.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
}
/* слайдер*/
.slider{

	position: relative;

	background-color: #eeeeee;
}
.slider-controls i{
	 position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
	
}
.slider-controls i::after{
	content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1; 

	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
}
.slider-controls{
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}
.slider-controls .active::before{
	content: "";
	  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider-item{
	display: none;
}

.slider-item:nth-child(1) {
  display: block;
  padding: 78px 0  80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px
}
.slider-item h3{
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.slider-item p{
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}
/*стиль кнопки*/
.button{
	display: block;
	width: 240px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}
.button:hover,
.butoon:focus {
background-color: #e74246;
}
.button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; 
}
/*------------*/

.footer-social{
display: flex; 
justify-content: space-between;
}
.text{
	font-size: 16px;
	color: #444444;
}
